*{
    margin: 0;
    bottom: 0;
}
body{
    background-color: #edc495;
    width: 100%;
}

/* 大的div */

.continer{
    width: 98%;
    height: 1000px;
    background-color: #ffffff;
    margin: 10px auto;
}

/* 头部div */

.top{
    width: 100%;
    height: 60px;
    background-color: #f1f5f9;
    border-radius: 8px;
}
.top>h2{
    float: left;
    /* color: #da9435; */
    line-height: 60px;
    padding-left: 10px;
}
    /* font-size: 10px; */
.top>p{
    float: right;
    line-height: 60px;
    padding-right: 10px;
}
.mulu{
    width: 100%;
    height: 60px;
    background-color: rgb(104, 137, 136);
}

/* 目录 */

.mulu ul{
    line-height: 60px;
    float: right;
    padding-right: 100px;
  
}
.mulu ul li {
    list-style: none;
    float: left;
    
    margin: 0 30px;
}

.mulu  ul li a {
    color: #1c1f23;
    
    text-decoration: none;
   
}
.mulu a:hover {
    text-decoration: underline;
    color: blue;
}
/* 左边的 */ 

.left{
    width: 300px;
    /* height: 800px; */
    background-color: #f1f5f9;
    /* 边框重合引用父级div */
    overflow: hidden;
    float: left;
    
}
.tx{
    width: 150px;
    height: 150px;
    margin: 100px auto;
    /* background-color: #5a0c0c; */
    border-radius: 50%;
    background-image: url(../jpg/tx.jpg);
    background-size: cover;
    
}
.jianjie{
    width: 280px;
    height: 500px;
    margin: auto;
    /* background-color: #b73f3f; */
}
.jianjie>p{
    font-size: 25px;
    text-align: center;
}
.jianjie>ul{
    padding-top: 10px;
}
.jianjie>ul>li{
    list-style: none;
    text-align: left;
    line-height: 40px;
}
/* 右边的 */
.right{
    width: 1135px;
    height: 850px;
    /* background-color: #4b704b; */
    float: right;
}
.ding{
    width: 100%;
    height: 50px;
    /* background-color: #4b1f1f; */
}
.ding>p{
    font-size: 25px;
    line-height: 50px;
    
    text-align: center;

}
