*{
    margin: 0;
    bottom: 0;
}
body{
    background-color: #edc495;
    width: 100%;
}

/* 大的div */

.continer{
    width: 98%;
    /* height: 900px; */
    background-color: #ffffff;
    margin: 10px auto;
}

/* 头部div */

.top{
    width: 100%;
    height: 60px;
    background-color: #f1f5f9;
    border-radius: 8px;
}
.top>h2{
    float: left;
    /* color: #da9435; */
    line-height: 60px;
    padding-left: 10px;
}
    /* font-size: 10px; */
.top>p{
    float: right;
    line-height: 60px;
    padding-right: 10px;
}
.mulu{
    width: 100%;
    height: 60px;
    background-color: rgb(104, 137, 136);
}

/* 目录 */

.mulu ul{
    line-height: 60px;
    float: right;
    padding-right: 100px;
  
}
.mulu ul li {
    list-style: none;
    float: left;
    
    margin: 0 30px;
}

.mulu  ul li a {
    color: #1c1f23;
    
    text-decoration: none;
   
}
.mulu a:hover {
    text-decoration: underline;
    color: blue;
}
/* content1 */
.content1{
    width: 100%;
    /* height: 565px; */
    background-color: #e0edff;
} 
.book1{
    width: 100%;
    height: 90px;
}
.book1>h1{
    padding: 5px 30px;
}
.book1>p{
    padding-left: 30px;
}
.gaishu{
    width: 90%;
    height: 160px;
    /* background-color: rgb(209, 215, 199); */
    margin: auto;
}
.gaishu>p{
    font-size: 20px;
    line-height: 30px;
}
.gaishu>p>span{
    padding-left: 40px;
}
/* 简介 */
.hz1{
    width: 50px;
    height: 30px;
    background-color: #4f9cee;
    float: left;
}
.hz2{
    width: 90%;
    height: 120px;
    /* background-color: rgb(209, 215, 199); */
    margin: auto;
    margin-top: 10px;
}

.jianjie>.hz2>p{
    line-height: 30px;
    font-size: 20px;
}
.jianjie>.hz2>p>span{
    padding-left: 40px;
}
/*  */


    
